@import url(https://fonts.googleapis.com/css?family=Oswald400,300|Roboto:300,400,400italic,700);


/************************* Partie publique ********************/


body
{
    font-family: 'Roboto', sans-serif;
}


h1, h2, h3
{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

#map {
    display:block;
    margin-left:auto;
    margin-right: auto;
    margin-top: 10px;
    height: 450px;
    width:100%;
    background-color: #000;

}


.dropdown{
    margin-left: 50px;
}


.label
{
    font-weight: 300;
}

.home
{
  background-image:url(../images/mapb.jpg);
  background-size: cover;
}

/************************ affichage homepage **********************/
.contacts h3
{
    font-size: 1.2em;

}

.contacts h3 a
{
    color: black;
}

.contacts .contact
{
    margin-bottom: 2em;
}

.contacts
{
    margin-bottom: 2em;
    padding-bottom: 2em;

}

.contact .address
{
    font-size: 0.8em;
}


.tag
{
    padding-top: 2em;
    padding-bottom: 2em;
    color: white;
    font-weight: 300;
}

.tag.darktext
{
    color: black;
}

.tag h2
{
    font-size: 3em;
    text-align: center;
}

.tag p
{
    font-size: 1.5em;
    text-align: center;
}


/**************************** Admin *******************************/
td.ellipse
{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}


table.special {
    table-layout: fixed
}

table.special td.content
{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

/* fixe le bug d'affichage de la poubelle dans les actions*/
table.special form{
    display: inline;
}
